.answer-count {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.user {
  height: 40px;
}

.user .avatar {
  float: left;
  background: #bbb;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  display: inline-block;
  color: #eee;
  overflow: hidden;
  font-size: 37px;
  text-align: center;
  line-height: 57px;
}

.user h4 {
  margin: 0;
  padding-top: 3px;
}

.answer {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #e2e2e2;
}

.answer .content {
  margin: 10px 0;
  font-family: serif;
  font-size: 16px;
}

.answer .edit-button {
  float: right;
  margin-top: 15px;
}

.answer .actions-bar {
  margin-top: 10px;
}
.answer .actions-bar .data-button {
  cursor: pointer;
  display: inline-block;
  color: white;
  padding: 0 9px;
  border-radius: 3px;
  background: #6575af;
  line-height: 28px;
  height: 30px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #465180;
  margin-right: 10px;
}

.answer .actions-bar .data-button:hover {
  opacity: 0.9;
}

.answer .actions-bar .data-button span {
  background: #55659f;
  padding: 7px 5px;
  margin-left: -9px;
  margin-right: 7px;
}
