<section class="question" data-ng-controller="QuestionsController" data-ng-init="findOne()">
  <h2 data-ng-bind="question.title"></h2>
  <p data-ng-bind="question.detail"></p>
  <div class="pull-right hidden" data-ng-show="authentication.user._id == question.user._id">
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
</section>

<section data-ng-controller="AnswersController" data-ng-init="findForQuestion()">
  <section ng-show="answers.length">
    <h4 class="answer-count">{{ answers.length }} Answers</h4>
    <div>
      <div class="answer" data-ng-repeat="answer in answers">
        <a class="user" data-ng-href="#!/users/{{answer.user._id}}">
          <div class="avatar">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <h4 data-ng-bind="answer.user.displayName"></h4>
          <small class="text-muted">{{ answer.user.points ? answer.user.points + ' points, ' : '' }}{{ answer.user.acquiredVotes ? answer.user.acquiredVotes + ' votes' : '' }}{{ !answer.user.points && !answer.user.acquiredVotes ? 'Building a reputation' : '' }}</small>
        </a>
        <p class="content" data-ng-bind-html="answer.content"></p>
        <small class="text-muted">
          Answered <span am-time-ago="answer.created"></span>
        </small>
        <div class="actions-bar">
          <div data-ng-controller="AnswersController" class="data-button" data-ng-click="addPoints()">
            <span ng-show="answer.points > 0">
              {{ answer.points }}
            </span>
            Donate Points
          </div>

          <div class="data-button" data-ng-click="vote(answer._id)">
            <span ng-show="answer.votes.length > 0">
              {{ answer.votes.length }}
            </span>
            Vote
          </div>

          <a class="text-muted edit-button" data-ng-show="authentication.user._id == answer.user._id" href="/#!/answers/{{answer._id}}/edit">edit</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h4 data-ng-bind="user.displayName"></h4>
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="controls">
          <text-angular data-ng-model="content" id="content" placeholder="Your Answer" ta-toolbar="[['bold','italics','underline','h1','pre','quote','ul','ol']]" required></text-angular>
        </div>
        <input type="submit" class="btn btn-default">
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </section>
</section>
