<section data-ng-controller="QuestionsController" data-ng-init="findOne()">
  <h2 data-ng-bind="question.name"></h2>
  <div class="pull-right" data-ng-show="authentication.user._id == question.user._id">
    <a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Asked
      <span am-time-ago="question.created"></span>
      by
      <span data-ng-bind="question.user.username"></span>
    </em>
  </small>
</section>

<section data-ng-controller="AnswersController" data-ng-init="findFor()">
    <div class="page-header">
        <h4>{{ answers.length }} Answers</h4>
    </div>
    <div class="list-group">
      <div data-ng-repeat="answer in answers" class="list-group-item">
        <h4 class="list-group-item-heading" data-ng-bind="answer.name"></h4>

        <div class="pull-right" data-ng-show="authentication.user._id == answer.user._id">
          <a class="btn btn-primary" href="/#!/answers/{{answer._id}}/edit">edit</a>
        </div>
        <small>
          <em class="text-muted">
            Answered
            <span am-time-ago="answer.created"></span>
            by
            <span data-ng-bind="answer.user.username"></span>
          </em>
        </small>
      </div>
    </div>

    <div class="col-md-12">
      <h4>Your Answer</h4>
      <form class="form-horizontal" data-ng-submit="create()" novalidate>
          <fieldset>
              <div class="form-group">
                  <label class="control-label" for="name">Name</label>
                  <div class="controls">
                      <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                  </div>
              </div>
              <div class="form-group">
                  <input type="submit" class="btn btn-default">
              </div>
            <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
      </form>
    </div>
</section>
