<section data-ng-controller="AnswersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Answer</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <text-angular data-ng-model="answer.content" id="content" placeholder="Your Answer" ta-toolbar="[['bold','italics','underline','h1','pre','quote','ul','ol']]" required></text-angular>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                    <a class="btn btn-primary" data-ng-click="remove();">Delete</a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
